# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:

#测试文件
ignored.txt
workspace.xml
#pycharm产生的文件，无需提交
test_1/.idea
test_1/.idea/workspace.xml
test_1/venv
test_1/venv1
test_1/venv36
test_1/2.py

test_2/.idea
test_2/venv36
test_2/__pycache__

python_module

test_7/.idea
test_7/venv
